@import 'tailwindcss';
/* @import '@nuxt/ui'; */
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    nord,
    sunset --default;
  /* prefix: 'd-'; */
}

@theme {
  --font-sans: 'JetBrains Mono', sans-serif;
}

/* Typography for Markdown Content */
.prose h1 {
  @apply text-4xl no-underline;
}

.prose h2 {
  @apply text-3xl no-underline;
}

.prose h3 {
  @apply text-2xl no-underline;
}

/* Ensure no-underline is applied correctly */
.prose a {
  @apply no-underline;
}

.badger {
  @apply inline-block px-3 py-1 text-xs font-medium rounded-lg  text-white dark:text-black;
}

.badger-accent {
  @apply bg-accent;
}

.badger-primary {
  @apply bg-primary;
}

.badger-secondary {
  @apply bg-secondary;
}

.badger-info {
  @apply bg-info;
}

.badger-success {
  @apply bg-success;
}

.badger-warning {
  @apply bg-warning;
}

.badger-error {
  @apply bg-error;
}
